<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contacts Client</title>

  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport"
        content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">

  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
</head>
<body>
  <div id="contacts-client">
    <contacts-app></contacts-app>
  </div>

  <script src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
</body>
</html>
